#projcont{
    width: 30em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto, 1fr);
    background-color: aqua;
    padding: 2em;
}

.project{
    background-color: rgb(167, 147, 35);
    border: solid 1px black;
    overflow: auto;
    border-radius: 1.5em;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.removeTask{
    background-color: red;
    margin-bottom: 1em;
}

.removeProject{
    background-color: yellow;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bot{
flex: 5;
display: flex;
}

.top{
    min-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right{
    flex: 1;
    background-color: beige;
}

.view{
    border-radius: 1em;
    padding: .5em;
}

.projectname{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0px;
}

div{
    text-align: center;
}

button{
    text-align: center;
    margin: 0 auto 1em auto;
}

input[type=text], input[type=number], type[submit] {
    text-align:center;
    display: block;
    margin: 0 auto .5em auto;
}

.newtask{
    border: dotted 1px black;
}